<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mobile shop</title>
    <%- include ('../partial/style') %>
</head>
<body>
<%- include ('../partial/nav-bar') %>

<%- include ('../partial/banner') %>


<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa fa-refresh"></i>
                    <p>30 Days return</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Free shipping</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-lock"></i>
                    <p>Secure payments</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-gift"></i>
                    <p>New products</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <div class="single-sidebar" style="width: 300px">
                        <h2 class="sidebar-title">Search Products</h2>
                        <form action="" method="post">
                            <input type="text" placeholder="Search products..." name="name">
                            <button type="submit" value="search">Search</button>
                        </form>
                    </div>
                    <h2 class="section-title">List Products</h2>
                    <div class="product-carousel">
                        <% for(const data of product) { %>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="<%= data.image %>" alt="">
                                    <div class="product-hover">
                                        <a href="/update/<%= data.id %>" class="add-to-cart-link"><i
                                                    class="fa fa-shopping-cart"></i>Update</a>
                                        <a href="/detail/<%= data.id %>" class="view-details-link"><i
                                                    class="fa fa-link"></i>
                                            See details</a>
                                    </div>
                                </div>

                                <h2><%= data.name %></h2>
                                <a href="/delete/<%= data.id %>" class="btn btn-danger"><h6>Delete</h6></a>
                                <div class="product-carousel-price">
                                    <p>
                                        <% data.price %>
                                    </p>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->

<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        <img src="img/brand1.png" alt="">
                        <img src="img/brand2.png" alt="">
                        <img src="img/brand3.png" alt="">
                        <img src="img/brand4.png" alt="">
                        <img src="img/brand5.png" alt="">
                        <img src="img/brand6.png" alt="">
                        <img src="img/brand1.png" alt="">
                        <img src="img/brand2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End brands area -->
<%- include ('../partial/product-fake') %>

<%- include ('../partial/footer') %>

<%- include ('../partial/javascript') %>

</body>
</html>

